 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1166px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 45px 725px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 54px;
  height: 54px;
  transition-duration: 0.75s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -54px 245px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -43px 30px 0 905px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 10px 0 0 894px;
}

.u-section-1 .u-countdown-1 {
  margin: -28px auto 0 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.5;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  font-weight: 700;
  margin: 23px auto 60px 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 525px;
  }

  .u-section-1 .u-icon-1 {
    width: 41px;
    height: 41px;
    --animation-custom_in-scale: 1;
    margin-top: -47px;
    margin-right: 253px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -31px;
    margin-right: 99px;
    margin-left: 696px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 1.125rem;
    margin-right: 72px;
    margin-left: 657px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 21px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 221%;
    left: -60%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 305px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -42px;
    margin-right: 170px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -34px;
    margin-right: 14px;
    margin-left: 561px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 509px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 11px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 288%;
    left: -94%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -308px;
    margin-right: 141px;
    margin-left: 399px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-right: 70px;
    margin-left: 457px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 388px);
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-1 .embed-responsive-1 {
    width: 384%;
    left: -142%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 581px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -255px;
    margin-right: 89px;
    margin-left: calc(((100% - 340px) / 2) + 90px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 54px);
    margin-left: calc(((100% - 340px) / 2) + 129px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 60px);
    margin-left: calc(((100% - 340px) / 2) + 113px);
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 11px;
    margin-bottom: 50px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 610%;
    left: -255%;
  }
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  border-radius: 10px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid !important;
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before,
.u-section-1 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
  min-height: 1134px;
}

.u-section-2 .u-image-1 {
  height: 53px;
  margin-top: -37px;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 13px;
  margin: 4px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-shape-1 {
  width: 52px;
  height: 113px;
  margin: 20px auto 0 calc(((100% - 1140px) / 2) + -13px);
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: -33px auto 0 calc(((100% - 1140px) / 2) + 114px);
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 38px auto 0 calc(((100% - 1140px) / 2) + 303px);
}

.u-section-2 .u-image-3 {
  height: 710px;
  width: 1140px;
  margin: 38px auto 0;
}

.u-section-2 .u-video-1 {
  height: 608px;
  width: 1077px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -685px auto 0 calc(((100% - 1140px) / 2) + 32px);
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 107px auto 0 calc(((100% - 1140px) / 2) + 445px);
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 13px auto 60px calc(((100% - 1140px) / 2) + 353px);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1064px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -33px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2) + -13px);
  }

  .u-section-2 .u-line-1 {
    margin-left: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    height: 585px;
    width: 940px;
    margin-top: 47px;
  }

  .u-section-2 .u-video-1 {
    height: 534px;
    width: 884px;
    margin-top: -563px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 87px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 33px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 952px;
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2) + -13px);
  }

  .u-section-2 .u-line-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 44px;
  }

  .u-section-2 .u-image-3 {
    height: 448px;
    width: 720px;
    margin-top: 32px;
  }

  .u-section-2 .u-video-1 {
    height: 435px;
    width: 720px;
    margin-top: -426px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 843px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2) + -13px);
  }

  .u-section-2 .u-line-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-3 {
    height: 336px;
    width: 540px;
  }

  .u-section-2 .u-video-1 {
    height: 326px;
    width: 540px;
    margin-top: -314px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-top: 48px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 215px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 8px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-3 {
    height: 212px;
    width: 340px;
  }

  .u-section-2 .u-video-1 {
    height: 205px;
    width: 340px;
    margin-top: -190px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
  }
}

.u-section-2 .u-video-1,
.u-section-2 .u-video-1:before,
.u-section-2 .u-video-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-video-1.u-video-1.u-video-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-video-1.u-video-1.u-video-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-3 {
  background-image: none;
  min-height: 365px;
}

.u-section-3 .u-image-1 {
  height: 56px;
  margin-top: -26px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  font-style: italic;
  margin: 48px auto 0 calc(((100% - 1140px) / 2) + 324px);
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 calc(((100% - 1140px) / 2) + 458px);
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 40px auto 0 calc(((100% - 1140px) / 2) + 386px);
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: -49px calc(((100% - 1140px) / 2) + 330px) 48px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 58px;
    margin-left: calc(((100% - 940px) / 2) + 244px);
  }

  .u-section-3 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2) + 241px);
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2) + 24px);
  }

  .u-section-3 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2) + 21px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-4 .u-sheet-1 {
  min-height: 924px;
}

.u-section-4 .u-video-1 {
  width: 463px;
  height: 266px;
  margin: 496px auto 60px -80px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-4 .u-video-1 {
    width: 396px;
    height: 223px;
    margin-top: 352px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-video-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .embed-responsive-1 {
    width: 222%;
    left: -61%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 472%;
    left: -186%;
  }
} .u-section-5 {
  background-image: none;
  min-height: 257px;
}

.u-section-5 .u-image-1 {
  height: 65px;
  margin-top: -38px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  font-style: italic;
  margin: 48px auto 0 calc(((100% - 1140px) / 2) + 168px);
}

.u-section-5 .u-text-2 {
  margin: 26px auto 53px calc(((100% - 1140px) / 2) + 394px);
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 212px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: auto;
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-6 {
  background-image: none;
  min-height: 1204px;
}

.u-section-6 .u-image-1 {
  height: 872px;
  width: 1792px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px calc(((100% - 1140px) / 2) + -528px) 0 auto;
}

.u-section-6 .u-gallery-1 {
  height: 246px;
  width: 1140px;
  margin: -142px auto 0;
}

.u-section-6 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-text-1 {
  margin: 69px auto 60px calc(((100% - 1140px) / 2) + 242px);
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 871px;
  }

  .u-section-6 .u-image-1 {
    object-position: 0% 50%;
    height: 576px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-gallery-1 {
    height: 203px;
    width: 940px;
    margin-top: -63px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 902px;
  }

  .u-section-6 .u-gallery-1 {
    height: 466px;
    width: 720px;
    margin-top: -64px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1398px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1049px;
    width: 540px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 912px;
  }

  .u-section-6 .u-gallery-1 {
    height: 660px;
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 1204px;
}

.u-section-7 .u-image-1 {
  height: 889px;
  width: 1792px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px calc(((100% - 1140px) / 2) + -528px) 0 auto;
}

.u-section-7 .u-gallery-1 {
  height: 246px;
  width: 1140px;
  margin: -142px auto 0;
}

.u-section-7 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-text-1 {
  margin: 69px auto 60px calc(((100% - 1140px) / 2) + 242px);
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 871px;
  }

  .u-section-7 .u-image-1 {
    object-position: 0% 50%;
    height: 591px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-gallery-1 {
    height: 203px;
    width: 940px;
    margin-top: -78px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 893px;
  }

  .u-section-7 .u-gallery-1 {
    height: 466px;
    width: 720px;
    margin-top: -79px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1387px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1049px;
    width: 540px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 898px;
  }

  .u-section-7 .u-gallery-1 {
    height: 660px;
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 1284px;
}

.u-section-8 .u-image-1 {
  height: 45px;
  margin-top: -25px;
  margin-bottom: 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 30px auto 0;
}

.u-section-8 .u-text-2 {
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + 407px);
}

.u-section-8 .u-tabs-1 {
  min-height: 1015px;
  height: auto;
  width: 1140px;
  margin: 21px auto 0;
}

.u-section-8 .u-tab-link-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-text-3 {
  font-size: 2.25rem;
  margin: 43px auto 0;
}

.u-section-8 .u-image-2 {
  width: 1054px;
  height: 663px;
  margin: 30px auto 0;
}

.u-section-8 .u-video-1 {
  height: 570px;
  width: 1008px;
  margin: -643px auto 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  font-size: 2.25rem;
  margin: 0 auto 0 378px;
}

.u-section-8 .u-image-3 {
  width: 1054px;
  height: 663px;
  margin: 30px auto 0 0;
}

.u-section-8 .u-video-2 {
  height: 560px;
  width: 1012px;
  margin: -636px auto 0 21px;
}

.u-section-8 .u-text-5 {
  margin: -238px 135px 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 60px auto 108px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 336px);
  }

  .u-section-8 .u-tabs-1 {
    width: 922px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-image-2 {
    width: 940px;
    height: 592px;
  }

  .u-section-8 .u-video-1 {
    height: 502px;
    width: 901px;
    margin-top: -572px;
    margin-right: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 326px;
  }

  .u-section-8 .u-image-3 {
    width: 880px;
    height: 554px;
    margin-left: 18px;
  }

  .u-section-8 .u-video-2 {
    height: 473px;
    width: 840px;
    margin-top: -534px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-8 .u-text-5 {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 257px);
  }

  .u-section-8 .u-tabs-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 9px;
  }

  .u-section-8 .u-image-2 {
    height: 446px;
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-video-1 {
    height: 382px;
    width: 693px;
    margin-top: -433px;
    margin-right: auto;
  }

  .u-section-8 .u-text-4 {
    margin-left: 231px;
  }

  .u-section-8 .u-image-3 {
    height: 438px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-video-2 {
    height: 373px;
    width: 662px;
    margin-top: -425px;
    margin-right: auto;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: -381px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 193px);
  }

  .u-section-8 .u-tabs-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 20px;
  }

  .u-section-8 .u-image-2 {
    height: 342px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-video-1 {
    height: 288px;
    width: 522px;
    margin-top: -329px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 182px;
  }

  .u-section-8 .u-image-3 {
    height: 327px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-video-2 {
    height: 276px;
    width: 492px;
    margin-top: -314px;
  }

  .u-section-8 .u-text-5 {
    margin-top: -422px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + -3px);
  }

  .u-section-8 .u-btn-1 {
    margin-top: 37px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1190px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 122px);
  }

  .u-section-8 .u-tabs-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-image-2 {
    height: 209px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-video-1 {
    height: 183px;
    width: 324px;
    margin-top: -203px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-3 {
    height: 201px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-video-2 {
    height: 171px;
    width: 309px;
    margin-top: -194px;
  }

  .u-section-8 .u-text-5 {
    width: 340px;
    margin-top: -643px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 43px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 724px;
}

.u-section-9 .u-line-1 {
  transform-origin: left center 0px;
  margin: 62px 0 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 70px 872px 0 0;
}

.u-section-9 .u-gallery-1 {
  height: 356px;
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-9 .u-gallery-item-1 {
  margin-right: 24px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-9 .u-gallery-item-2 {
  margin-right: 24px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-9 .u-gallery-item-3 {
  margin-right: 24px;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-9 .u-gallery-item-4 {
  margin-right: 24px;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-9 .u-gallery-item-5 {
  margin-right: 24px;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-9 .u-gallery-item-6 {
  margin-right: 24px;
}

.u-section-9 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-9 .u-gallery-item-7 {
  margin-right: 24px;
}

.u-section-9 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-9 .u-gallery-item-8 {
  margin-right: 24px;
}

.u-section-9 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-9 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 158px;
}

.u-section-9 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 158px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-1 {
    margin-right: 672px;
  }

  .u-section-9 .u-gallery-1 {
    height: 299px;
  }

  .u-section-9 .u-gallery-nav-1 {
    top: 130px;
  }

  .u-section-9 .u-gallery-nav-2 {
    top: 130px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 452px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-right: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-right: 72px;
  }

  .u-section-9 .u-gallery-1 {
    height: 340px;
  }
}